:host {
  display: block;
}

table {
  thead {
    tr {
      background-color: red;
      color: white;
    }
  }
  tr {
    background-color: #d3d3d3;
    td {
      padding: 5px;
      text-align: center;
    }
  }
}
